# データの永続化
## sqlite
* 軽量データベースを実施するC言語のライブラリ
* サーバ用のプロセスを必要としない、組み込み型のデータベースエンジン
* 単一のファイルによって管理される（インメモリも可能）

In [2]:
import sqlite3

In [3]:
# DBファイルの保存先ディレクトリのパス
path =''

# Google Colabの場合
# path = '/content/drive/MyDrive/Colab Notebooks/dsprog2/

# DBファイル
db_name = 'test.db'

# DB接続の確立
# DBファイルが存在しない場合は新規作成される
conn = sqlite3.connect(path + db_name)

# DBへの接続を閉じる
conn.close()

# テーブルを作成

In [5]:
path = ''
db_name = 'car.db'

try:
    # 既存のDBファイルを開く
    conn = sqlite3.connect(path + db_name)

    # DB接続の確立
    conn = sqlite3.connect(path + db_name)

    # カーソルオブジェクトの作成
    cursor = conn.cursor()

    # SQL文の作成
    # テーブルの作成
    sql = 'CrEATE TABLE cars (id INT, name TEXT, price REAL);'

    # SQL文の実行
    cursor.execute(sql)

    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました', e)

finally:
    # DBへの接続を閉じる
    conn.close()

エラーが発生しました table cars already exists

### データをDBに挿入する（単一レコード）

In [6]:
path = ''
db_name = 'car.db'

# DB接続の確立
conn = sqlite3.connect(path + db_name)

# カーソルオブジェクトの作成
cursor = conn.cursor()

# SQL文の作成
# テーブルの挿入
# INSERT INTO テーブル名 (カラム1, カラム2, ...) VALUES (値1, 値2, ...);
# 文字列はシングルクォート(')で囲む
sql = "INSERT INTO cars (id, name, price) VALUES (1, '370z', 40000);"

# SQL文の実行
cursor.execute(sql)

# 変更をDBに反映
conn.commit()

# DBへの接続を閉じる
conn.close()

### データをDBに実行する（複数レコード）

In [7]:
path = ''
db_name = 'car.db'

try:
    # 既存のDBファイルを開く
    conn = sqlite3.connect(path + db_name)

    # DB接続の確立
    conn = sqlite3.connect(path + db_name)

    # カーソルオブジェクトの作成
    cursor = conn.cursor()

    # SQL文の作成
    # テーブルの作成
    sql = "INSERT INTO cars (id, name, price) VALUES (?, ?, ?);"

    cars = [
        (2, 'Skyline', 50000),
        (3, 'Supra', 60000),
        (4, 'Silvia', 30000)
    ]

    # SQL文の実行
    cursor.executemany(sql, cars)

    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

### DB内のデータを参照する

In [17]:
path = ''
db_name = 'car.db'

try:
    # 既存のDBファイルを開く
    conn = sqlite3.connect(path + db_name)

    # DB接続の確立
    conn = sqlite3.connect(path + db_name)

    # カーソルオブジェクトの作成
    cursor = conn.cursor()

    #データを参照するSQL
    sql = "SELECT * FROM cars;"

    # SQL文の実行
    cursor.executemany(sql,cars)

    # 変更をDBに反映
    # conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)
else:
    for row in cursor:
        id, name ,price = row
        print(id, name ,price)

finally:
    # DBへの接続を閉じる
    conn.close()

エラーが発生しました: executemany() can only execute DML statements.

### データの削除

In [20]:
path = ''
db_name = 'car.db'

try:
    # 既存のDBファイルを開く
    conn = sqlite3.connect(path + db_name)

    # DB接続の確立
    conn = sqlite3.connect(path + db_name)

    # カーソルオブジェクトの作成
    cursor = conn.cursor()

    #データを削除するSQL
    sql = "DELETE FROM cars WHERE id = 1;"
    # SQL文の実行
    cursor.executemany(sql,cars)

    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

エラーが発生しました: Incorrect number of bindings supplied. The current statement uses 0, and there are 3 supplied.

### データの更新

In [23]:
path = ''
db_name = 'car.db'

try:
    # 既存のDBファイルを開く
    conn = sqlite3.connect(path + db_name)

    # DB接続の確立
    conn = sqlite3.connect(path + db_name)

    # カーソルオブジェクトの作成
    cursor = conn.cursor()

    #データを更新するSQL
    sql = "UPDATE cars SET price = price + 5000 WHERE id = 2;"
    # SQL文の実行
    cursor.executemany(sql,(60000,2))

    # 変更をDBに反映
    conn.commit()

except sqlite3.Error as e:
    print('エラーが発生しました:', e)

finally:
    # DBへの接続を閉じる
    conn.close()

エラーが発生しました: parameters are of unsupported type